@import 'colors.css';
*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
}
html {
    max-width: 100vw;
    max-height: 100vh;
    height: 100%;
    width: 100%;
    font-size: 20px;
}
body {
    height: 100%;
    width: 100%;
    background-color: var(--body-background-color);
    display: grid;
    place-items: center;
    padding: 2.5em 0;
}
a:link, a:visited {
    color: inherit;
    text-decoration: none;
}
button, input, select {
    font-size: 1em;
    background: transparent;
    color: inherit;
}
button:hover, input[type=button]:hover, input[type=submit]:hover, select:hover {
    cursor: pointer;
}
h1, h2, h3 {
    font-size: 1em;
    font-weight: normal;
}
